@model IEnumerable<MovieTicketBooking.Models.TicketBooking>

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MovieId)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.MovieId)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatNumber)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Payment", "PaymentDetails", new { id = item.Id })
        </td>
    </tr>
}

</table>
